<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Online Hanabi</title>
        <style>

            .card-buttons{
                visibility: hidden;
                width: 100%;
                padding: 0 20px;
            }

            .card:hover .card-buttons{
                visibility: visible;
            }

        </style>
    </head>

    <body>
        <h1>Online Hanabi</h1>

        <table id="others">
        </table>

        Your hand:
        <table>
            <tr>
                <% for (var i = 1; i<6; i++) { %>
                    <td class="card">
                        <img src="/img/tree.png" id="mycard<%= i %>" style="border:3px solid black; margin:0px 5px; padding:5px;">
                        <br>
                        <table class="card-buttons">
                            <tr>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="play" href="#"><img src="/img/play.svg" style="height:20px;"></a></td>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="discard" href="#"><img src="/img/discard.svg" style="height:20px;"></a></td>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-left" href="#"><img src="/img/rotate-left.svg" style="height:20px;"></a></td>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-right" href="#"><img src="/img/rotate-right.svg" style="height:20px;"></a></td>
                            </tr>
                        </table>
                    </td>
                <% }; %>
            </tr>
        </table>

        <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('http://localhost:3333');

            var pseudo = prompt('Quel est votre pseudo ?');
            socket.emit('nouveau_client', pseudo);
            document.title = pseudo + ' - ' + document.title;

            socket.on('init', function(data) {

                function init_hand (new_hand, player_name) {
                    var table = '<tr><td>' + player_name + '\'s hand:</td></tr><tr id="' + player_name + '_hand">';
                    for (var i = 0; i < 5; i++) {
                        table += '<td><img src="/img/tree.png" id="' + player_name + (i+1) + '" style="border:3px solid black; margin:0px 5px; padding:5px;"></td>'
                    }
                    table += '</tr><tr><td><br></td></tr>';
                    $('#others').append(table);
                }

                for (var name in data.hands) {
                    init_hand(data.hands[name], name);
                }

            });

            var card_angles = [null, 0,0,0,0,0];

            $('body').on('click', '.play', function() {
                console.log("Want to play n°", $(this).data('index'));
            });

            $('body').on('click', '.discard', function() {
                console.log("Want to discard n°", $(this).data('index'));
            });

            $('body').on('click', '.rotate-left', function() {
                var id = Number ($(this).data('index'));
                card_angles[id] = (card_angles[id] - 90)%360;
                console.log("Rotate-left n°", id," of ",card_angles[id]," degrees");
                document.getElementById('mycard'+id).style.transform="rotate(" + card_angles[id] + "deg)"; //default
                document.getElementById('mycard'+id).style["-webkit-transform"]="rotate(" + card_angles[id] + "deg)"; //Chrome, Safari, Opera
                document.getElementById('mycard'+id).style["-ms-transform"]="rotate(" + card_angles[id] + "deg)"; //IE
            });

            $('body').on('click', '.rotate-right', function() {
                var id = Number ($(this).data('index'));
                card_angles[id] = (card_angles[id] + 90)%360;
                console.log("Rotate-right n°", id," of ",card_angles[id]," degrees");
                document.getElementById('mycard'+id).style.transform="rotate(" + card_angles[id] + "deg)"; //default
                document.getElementById('mycard'+id).style["-webkit-transform"]="rotate(" + card_angles[id] + "deg)"; //Chrome, Safari, Opera
                document.getElementById('mycard'+id).style["-ms-transform"]="rotate(" + card_angles[id] + "deg)"; //IE
            });

        </script>

    </body>
</html>
