<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Online Hanabi</title>
        <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jaldi" rel="stylesheet">
        <style>

            .title {
                font-family: 'Carter One', cursive;
            }

            .body {
                font-family: 'Jaldi', sans-serif;
            }

            .card-buttons{
                visibility: hidden;
                width: 100%;
                padding: 0 20px;
            }

            .card:hover .card-buttons{
                visibility: visible;
            }

        </style>
    </head>

    <body>
        <h1 class="title" style="text-align:center; margin: 10px 0;">Online Hanabi</h1>

        <table>
            <tr>
                <!-- Left Panel -->
                <td style="padding-right:30px;">

                    <!-- Others' Hand -->
                    <table id="others">
                    </table>

                    <span class="title">Your hand:</span>
                    <table>
                        <tr>
                            <% for (var i = 0; i<cardsPerPlayer; i++) { %>
                                <td class="card">
                                    <img src="/img/tree.png" id="mycard<%= i %>" style="border:3px solid black; margin:0px 5px; padding:5px;">
                                    <br>
                                    <table class="card-buttons">
                                        <tr>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="play" href="#"><img src="/img/play.svg" style="height:20px;"></a></td>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="discard" href="#"><img src="/img/discard.svg" style="height:20px;"></a></td>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-left" href="#"><img src="/img/rotate-left.svg" style="height:20px;"></a></td>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-right" href="#"><img src="/img/rotate-right.svg" style="height:20px;"></a></td>
                                        </tr>
                                    </table>
                                </td>
                            <% }; %>
                        </tr>
                    </table>

                </td>

                <!-- Right Panel -->
                <td style="padding-left:30px; border-left: 3px solid black;">

                    <!-- Played Cards -->
                    <table>
                        <% var colors = ['black', 'red', 'blue', 'green', 'multicolor', 'yellow'] %>
                        <% for (var row=0; row<2; row++) { %>
                        <tr>
                            <% for (var col = 0; col<3; col++) { %>
                                <td>
                                    <img src="/img/cross.svg" id="played_<%= colors[3*row+col] %>" style="height:128px; border:3px solid black; margin:5px; padding:5px;">
                                </td>
                            <% }; %>
                        </tr>
                        <% }; %>
                    </table>

                    <br>

                    <!-- Informations + Warnings container -->
                    <table>
                        <tr>
                            <td class="title">Informations:&nbsp;</td>
                            <td>
                                <table>
                                    <% for (var row=0; row<2; row++) { %>
                                    <tr>
                                        <% for (var col = 0; col<4; col++) { %>
                                            <td>
                                                <img src="/img/info.svg" id="info<%= 4*row+col+1 %>" style="height:20px;">
                                            </td>
                                        <% }; %>
                                    </tr>
                                    <% }; %>
                                </table>
                            </td>
                            <td class="title" style="padding-left:48px;">Warnings:&nbsp;</td>
                            <td>
                                <table>
                                    <tr>
                                        <% for (var col = 0; col<3; col++) { %>
                                            <td style="border: 3px solid black;">
                                                <img src="/img/warning.svg" id="warning<%= col %>" style="height:20px; padding: 3px 3px 0 3px; visibility: hidden;">
                                            </td>
                                        <% }; %>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <!-- Discarded Cards -->
                    <span class="title">Discarded:</span>
                    <table style="border-bottom: 3px solid black">
                        <% for (var i=0; i<10; i++) { %>
                        <tr id="discarded_row<%= i %>"></tr>
                        <% }; %>
                    </table>

                    <br>

                    <!-- Last plays -->
                    <span class="title">Last Play:</span>
                    <br>
                    <span class="body" id="last-play"></span>

                    <br>

                    <!-- Information form -->
                    <form>
                      <input type="radio" name="gender" value="male" checked> Male<br>
                      <input type="radio" name="gender" value="female"> Female<br>
                      <input type="radio" name="gender" value="other"> Other
                    </form>

                </td>
            </tr>
        </table>

        <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('http://localhost:3333');

            var pseudo = prompt('What is your name ?');
            socket.emit('nouveau_client', pseudo);

            socket.on('reject_login', function() {
                pseudo = prompt('Impossible to find you, try again:\nWhat is your name ?');
                socket.emit('nouveau_client', pseudo);
            })

            socket.on('pseudo_ok', function() {

                //  hacked authentication for dev
                //  var pwd = prompt('Password ?');
                var pwd = "test";
                socket.emit('login', pwd);

                socket.on('reject_pwd', function() {
                    pwd = prompt('Wrong password, try again:');
                    socket.emit('login', pwd);
                });


                //LOGIN CONFIRMED, MAIN STARTING
                socket.on('init', function(gameData) {

                    document.title = pseudo + ' - ' + document.title;

                    function init_hand (new_hand, player_name) {
                        var table = '<tr><td class="title">' + player_name + ':</td></tr><tr id="' + player_name + '_hand">';
                        for (var i = new_hand.length-1; i > -1; i--) {
                            table += '<td><img src="/img/cards/' + new_hand[i].color + new_hand[i].number + '.png" id="' + player_name + i + '" style="border:3px solid black; margin:0px 5px; padding:5px;"></td>'
                        }
                        table += '</tr><tr><td><br></td></tr>';
                        $('#others').append(table);
                    }

                    function add_discarded (card, index) {
                        var col= '<td><img src="/img/cards/' + card.color + card.number + '.png" id="discarded' + index + '" style="border:1px solid black; height:64px;"></td>'
                        $('#discarded_row' + Math.trunc(index/7)).append(col);
                    }

                    for (var name in gameData.hands) {
                        init_hand(gameData.hands[name], name);
                    }

                    var discarded_number = 0;
                    gameData.discarded.forEach(function(card) {
                        add_discarded(card, discarded_number);
                        discarded_number ++;
                    });

                    socket.on('discard', function(card) {
                        add_discarded(card, discarded_number);
                        discarded_number ++;
                    });

                    socket.on('played', function(color) {
                        gameData.found[color] ++;
                        document.getElementById('played_' + color).src = "/img/cards/" + color + gameData.found[color] + ".png";
                    });

                    socket.on('warning', function(data) {
                        document.getElementById('warning'+gameData.warnings).style["visibility"]="visible";
                        gameData.warnings ++;
                        alert('Warning: ' + data.pseudo + ' attempted to play the ' + data.card.color + ' ' + data.card.number);
                    })

                    socket.on('card_drawn', function(data) {
                        for (var i = data.lastCardIndex; i < gameData.cardsPerPlayer-1; i++) {
                            document.getElementById(data.pseudo + i).src = document.getElementById(data.pseudo + (i+1)).src;
                        }
                        document.getElementById(data.pseudo + (gameData.cardsPerPlayer-1)).src = "/img/cards/" + data.drawnCard.color + data.drawnCard.number + ".png";
                    });

                    socket.on('last_play', function(message) {
                        document.getElementById('last-play').innerHTML = message;
                    });

                    var card_angles = [0,0,0,0,0];

                    $('body').on('click', '.play', function() {
                        socket.emit('playRequest', $(this).data('index'));
                    });

                    $('body').on('click', '.discard', function() {
                        socket.emit('discardRequest', $(this).data('index'));
                    });

                    $('body').on('click', '.rotate-left', function() {
                        var id = Number ($(this).data('index'));
                        card_angles[id] = (card_angles[id] - 90)%360;
                        console.log("Rotate-left n°", id," of ",card_angles[id]," degrees");
                        document.getElementById('mycard'+id).style.transform="rotate(" + card_angles[id] + "deg)"; //default
                        document.getElementById('mycard'+id).style["-webkit-transform"]="rotate(" + card_angles[id] + "deg)"; //Chrome, Safari, Opera
                        document.getElementById('mycard'+id).style["-ms-transform"]="rotate(" + card_angles[id] + "deg)"; //IE
                    });

                    $('body').on('click', '.rotate-right', function() {
                        var id = Number ($(this).data('index'));
                        card_angles[id] = (card_angles[id] + 90)%360;
                        console.log("Rotate-right n°", id," of ",card_angles[id]," degrees");
                        document.getElementById('mycard'+id).style.transform="rotate(" + card_angles[id] + "deg)"; //default
                        document.getElementById('mycard'+id).style["-webkit-transform"]="rotate(" + card_angles[id] + "deg)"; //Chrome, Safari, Opera
                        document.getElementById('mycard'+id).style["-ms-transform"]="rotate(" + card_angles[id] + "deg)"; //IE
                    });

                });

            });

        </script>

    </body>
</html>
