<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Online Hanabi</title>
        <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jaldi" rel="stylesheet">
        <style>

            .title {
                font-family: 'Carter One', cursive;
            }

            .body {
                font-family: 'Jaldi', sans-serif;
                font-size: large;
            }

            .card-buttons{
                visibility: hidden;
                width: 100%;
                padding: 0 20px;
            }

            .card:hover .card-buttons{
                visibility: visible;
            }

        </style>
    </head>

    <body>

        <table>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <h1 class="title" style="margin: 10px 0;">Online Hanabi <% if (replayMode) { %> - Replayer <% } %> </h1>
                    <% if (replayMode) { %>
                        <!-- Time Picker -->
                        <span class="title">
                            <img class="previous-turn" href="javascript:void(0);" src="/img/previous-turn.svg" style="height:20px;"></a>
                            <img class="previous-event" href="javascript:void(0);" src="/img/previous-event.svg" style="height:20px;"></a>
                            &nbsp; Turn: <span id="turn"> 1 </span> &nbsp;
                            <img class="next-event" href="javascript:void(0);" src="/img/next-event.svg" style="height:20px;"></a>
                            <img class="next-turn" href="javascript:void(0);" src="/img/next-turn.svg" style="height:20px;"></a>
                        </span>
                    <% } %>
                </td>
            </tr>
            <tr>
                <!-- Left Panel -->
                <td style="padding-right:30px;">

                    <!-- Others' Hand -->
                    <table id="others">
                    </table>

                    <% if (!replayMode) { %>
                    <span class="title" id="You">You:</span>
                    <table>
                        <tr>
                            <% for (var i = 0; i<cardsPerPlayer; i++) { %>
                                <td class="card">
                                    <img src="/img/tree.png" id="mycard<%= i %>" style="border:3px solid black; margin:0px 5px; padding:5px;">
                                    <br>
                                    <table class="card-buttons">
                                        <tr>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="play" href="javascript:void(0);"><img src="/img/play.svg" style="height:20px;"></a></td>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="discard" href="javascript:void(0);"><img src="/img/discard.svg" style="height:20px;"></a></td>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-left" href="javascript:void(0);"><img src="/img/rotate-left.svg" style="height:20px;"></a></td>
                                            <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-right" href="javascript:void(0);"><img src="/img/rotate-right.svg" style="height:20px;"></a></td>
                                        </tr>
                                    </table>
                                </td>
                            <% }; %>
                        </tr>
                    </table>

                    <!-- ReOrder Form -->
                    <table>
                        <tr>
                            <td class="title">Reorder:&nbsp;</td>
                            <td>
                                <form id="reorder-form" action="javascript:void(0);">
                                    <input type="text" name="firstname">
                                </form>
                            </td>
                            <td class="reorder_sender" href="javascript:void(0);"><img src="/img/play.svg" style="height:20px;"></a></td>
                            <td class="body" style="color:#999;">&nbsp;(type for instance 1423 or 24135)</td>
                        </tr>
                    </table>
                    <% } %>

                </td>

                <!-- Right Panel -->
                <td style="padding-left:30px; border-left: 3px solid black; width:526px;">

                    <!-- Played Cards -->
                    <table>
                        <% var colors = ['black', 'red', 'blue', 'green', 'multicolor', 'yellow'] %>
                        <% for (var row=0; row<2; row++) { %>
                        <tr>
                            <% for (var col = 0; col<3; col++) { %>
                                <td>
                                    <img src="/img/cross.svg" id="played_<%= colors[3*row+col] %>" style="height:128px; border:3px solid black; margin:5px; padding:5px;">
                                </td>
                            <% }; %>
                        </tr>
                        <% }; %>
                    </table>

                    <br>

                    <!-- Informations + Warnings container -->
                    <table>
                        <tr>
                            <td class="title">Informations:&nbsp;</td>
                            <td>
                                <table>
                                    <% for (var row=0; row<2; row++) { %>
                                    <tr>
                                        <% for (var col = 0; col<4; col++) { %>
                                            <td>
                                                <img src="/img/info.svg" id="info<%= 4*row+col %>" style="height:20px; visibility:hidden;">
                                            </td>
                                        <% }; %>
                                    </tr>
                                    <% }; %>
                                </table>
                            </td>
                            <td class="title" style="padding-left:48px;">Warnings:&nbsp;</td>
                            <td>
                                <table>
                                    <tr>
                                        <% for (var col = 0; col<3; col++) { %>
                                            <td style="border: 3px solid black;">
                                                <img src="/img/warning.svg" id="warning<%= col %>" style="height:20px; padding: 3px 3px 0 3px; visibility: hidden;">
                                            </td>
                                        <% }; %>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <!-- Discarded Cards -->
                    <span class="title">Discarded:</span>
                    <table style="border-bottom: 3px solid black">
                        <% for (var i=0; i<10; i++) { %>
                        <tr id="discarded_row<%= i %>"></tr>
                        <% }; %>
                    </table>

                    <br>

                    <table>
                        <tr>
                            <td style="width:70%">
                                <!-- Last plays -->
                                <span class="title">Last Play:</span>
                            </td>
                            <td style="text-align:center">
                                <!-- Remaining Cards -->
                                <span class="title">Remaining Cards:</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:70%">
                                <!-- Last plays -->
                                <span class="body" id="last-play"></span>
                            </td>
                            <td style="text-align:center">
                                <!-- Remaining Cards -->
                                <span class="body" id="remaining-cards"></span>
                            </td>
                        </tr>
                    </table>

                    <% if (!replayMode) { %>
                    <!-- Information form -->
                    <span class="title">Send an information:</span>
                    <table>
                        <tr>
                            <td>
                                <!-- Player selection -->
                                <form id="player-form">
                                </form>
                            </td>
                            <td>
                                <!-- Information type selection -->
                                <form id="info-form">
                                    <table>
                                        <tr>
                                            <td>
                                                <!-- Color selection -->
                                                <table style="border-left: 1px solid black;">
                                                    <% var fields = ['black', 'green', 'red', 'blue', 'yellow', 'multicolor']; %>
                                                    <% for (var row=0; row<3; row++) { %>
                                                        <tr>
                                                            <% for (var col=0; col<2; col++) { %>
                                                                <% if (!hardMode || (3*col+row != 5)) { %>
                                                                <td>
                                                                    <input type="radio" name="info" value="<%= fields[3*col+row] %>"><span class="body"> <%= fields[3*col+row] %></span><br>
                                                                </td>
                                                                <% }; %>
                                                            <% }; %>
                                                        </tr>
                                                    <% }; %>
                                                </table>
                                            </td>
                                            <td>
                                                <!-- Number selection -->
                                                <table style="border-left: 1px solid black; border-right: 1px solid black; padding-right:5px;">
                                                    <% var fields = [1,2,3,4,5]; %>
                                                    <% for (var row=0; row<3; row++) { %>
                                                        <tr>
                                                            <% for (var col=0; col<2; col++) { %>
                                                                <td>
                                                                    <% if (fields[3*col+row]) { %>
                                                                        <input type="radio" name="info" value="<%= fields[3*col+row] %>"><span class="body"> <%= fields[3*col+row] %></span><br>
                                                                    <% }; %>
                                                                </td>
                                                            <% }; %>
                                                        </tr>
                                                    <% }; %>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                            <!-- Button -->
                            <td>
                                <td class="information_sender" href="javascript:void(0);"><img src="/img/play.svg" style="height:20px;"></a></td>
                            </td>
                        </tr>
                    </table>
                    <% } %>
                </td>
            </tr>
        </table>

        <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('<%= address %>');

            var pseudo = prompt('What is your name ?');
            socket.emit('nouveau_client', pseudo);

            socket.on('reject_login', function() {
                pseudo = prompt('Impossible to find you, try again:\nWhat is your name ?');
                socket.emit('nouveau_client', pseudo);
            })

            socket.on('pseudo_ok', function() {

                var pwd = prompt('Password ?');
                socket.emit('login', pwd);

                socket.on('reject_pwd', function() {
                    pwd = prompt('Wrong password, try again:');
                    socket.emit('login', pwd);
                });


                //LOGIN CONFIRMED, MAIN STARTING
                socket.on('init', function(gameData) {

                    console.log(gameData);
                    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    // INIT OF PAGE

                    document.title = pseudo + ' - ' + document.title;

                    document.getElementById('remaining-cards').innerHTML = gameData.remainingCards;

                    function init_hand (new_hand, player_name) {
                        var table = '<tr><td id="' + player_name + '" class="title">' + player_name + ':</td></tr><tr id="' + player_name + '_hand">';
                        for (var i = new_hand.length-1; i > -1; i--) {
                            table += '<td><img src="/img/cards/' + new_hand[i].color + new_hand[i].number + '.png" id="' + player_name + i + '" style="border:3px solid black; margin:0px 5px; padding:5px;"></td>'
                        }
                        table += '</tr><tr><td><br></td></tr>';
                        $('#others').append(table);
                        // init rotations
                        for (var i = 0; i < new_hand.length; i++) {
                            document.getElementById(player_name + i).style.transform="rotate(" + new_hand[i].angle + "deg)"; //default
                            document.getElementById(player_name + i).style["-webkit-transform"]="rotate(" + new_hand[i].angle + "deg)"; //Chrome, Safari, Opera
                            document.getElementById(player_name + i).style["-ms-transform"]="rotate(" + new_hand[i].angle + "deg)"; //IE
                        }
                    }

                    function add_discarded (card, index) {
                        var col= '<td><img src="/img/cards/' + card.color + card.number + '.png" id="discarded' + index + '" style="border:1px solid black; height:64px;"></td>'
                        $('#discarded_row' + Math.trunc(index/7)).append(col);
                    }

                    // to ensure good hands ordering
                    if (gameData.replayMode) {
                        gameData.players.forEach(function (name) {
                            init_hand(gameData.hands[name], name);
                            $('#player-form').append('<input type="radio" name="player" value="' + name + '"><span class="body"> ' + name + '</span><br>');
                        });
                    } else {
                        gameData.players.forEach(function(elt,n) {
                            if (elt == pseudo) {
                                for (var i = 0; i < gameData.players.length-1; i++) {
                                    var name = gameData.players[(i+n+1)%gameData.players.length];
                                    init_hand(gameData.hands[name], name);
                                    $('#player-form').append('<input type="radio" name="player" value="' + name + '"><span class="body"> ' + name + '</span><br>')
                                }
                            }
                        });
                    }

                    var discarded_number = 0;
                    gameData.discarded.forEach(function(card) {
                        add_discarded(card, discarded_number);
                        discarded_number ++;
                    });

                    for (var i = 0; i < gameData.informations; i++) {
                        document.getElementById('info' + i).style['visibility'] = "visible";
                    }

                    for (var i = 0; i < gameData.warnings; i++) {
                        document.getElementById('warning' + i).style['visibility'] = "visible";
                    }

                    for (var color in gameData.found) {
                        if (gameData.found[color] != 0) {
                            document.getElementById('played_' + color).src = "/img/cards/" + color + gameData.found[color] + ".png";
                        }
                    }

                    if (gameData.replayMode) document.getElementById('turn').innerHTML = gameData.turn;

                    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    // Beginning of EventListeners

                    socket.on('discarded', function(card) {
                        add_discarded(card, discarded_number);
                        discarded_number ++;
                        gameData.remainingCards --;
                        document.getElementById('remaining-cards').innerHTML = gameData.remainingCards;
                    });

                    socket.on('played', function(color) {
                        gameData.found[color] ++;
                        document.getElementById('played_' + color).src = "/img/cards/" + color + gameData.found[color] + ".png";
                        gameData.remainingCards --;
                        document.getElementById('remaining-cards').innerHTML = gameData.remainingCards;
                    });

                    socket.on('info', function(str) {
                        if (str == 'add') {
                            document.getElementById('info' + gameData.informations).style['visibility'] = "visible";
                            gameData.informations ++;
                        } else {
                            gameData.informations --;
                            document.getElementById('info' + gameData.informations).style['visibility'] = "hidden";
                        }
                    });

                    socket.on('warning', function(data) {
                        document.getElementById('warning'+gameData.warnings).style["visibility"]="visible";
                        gameData.warnings ++;
                        alert('Warning: ' + data.pseudo + ' attempted to play the ' + data.card.color + ' ' + data.card.number);
                    });

                    socket.on('redraw_mine', function(data) {
                        data.forEach(function(elt, id) {
                            if (elt == -1) {
                                document.getElementById('mycard'+id).src = "/img/cross.svg";
                                document.getElementById('mycard'+id).style.height = "128px";
                            } else {
                                document.getElementById('mycard'+id).style.transform="rotate(" + elt + "deg)"; //default
                                document.getElementById('mycard'+id).style["-webkit-transform"]="rotate(" + elt + "deg)"; //Chrome, Safari, Opera
                                document.getElementById('mycard'+id).style["-ms-transform"]="rotate(" + elt + "deg)"; //IE
                            }
                        });
                    });

                    socket.on('redraw', function(data) {
                        data.hand.forEach(function(elt, i) {
                            if (!elt) {
                                document.getElementById(data.pseudo + i).src = "/img/cross.svg";
                                document.getElementById(data.pseudo + i).style.height = "128px";
                            } else {
                                document.getElementById(data.pseudo + i).src = "/img/cards/" + elt.color + elt.number + ".png";
                                document.getElementById(data.pseudo + i).style.transform="rotate(" + elt.angle + "deg)"; //default
                                document.getElementById(data.pseudo + i).style["-webkit-transform"]="rotate(" + elt.angle + "deg)"; //Chrome, Safari, Opera
                                document.getElementById(data.pseudo + i).style["-ms-transform"]="rotate(" + elt.angle + "deg)"; //IE
                            }
                        })
                        for (var i=0; i< gameData.cardsPerPlayer; i++) {
                        }
                    });

                    socket.on('next_turn', function(data) {
                        document.getElementById('last-play').innerHTML = data.lastPlay;
                        for (var name in gameData.hands) {
                            if (name == data.playerUp) {
                                document.getElementById(name).style.color = '#FD0020';
                            } else {
                                document.getElementById(name).style.color = '#000000';
                            }
                        }
                        if (!gameData.replayMode) {
                            if (pseudo == data.playerUp) {
                                document.getElementById('You').style.color = '#FD0020';
                            } else {
                                document.getElementById('You').style.color = '#000000';
                            }
                        } else {
                            gameData.turn ++;
                            document.getElementById('turn').innerHTML = gameData.turn;
                        }
                        if (data.game_mode) {
                            alert(data.lastPlay + '\n - \n' + data.playerUp + " is up!");
                        }
                    });

                    socket.on('notify', function(message) {
                        alert(message);
                    });

                    socket.on('game_end', function(message) {
                        alert(message);
                        socket.close();
                    });


                    // Buttons and links listeners
                    $('body').on('click', '.play', function() {
                        socket.emit('playRequest', $(this).data('index'));
                    });

                    $('body').on('click', '.discard', function() {
                        socket.emit('discardRequest', $(this).data('index'));
                    });

                    // Reorder sender
                    $('body').on('click', '.reorder_sender', function() {
                        var x = document.getElementById("reorder-form").elements[0].value;
                        socket.emit('reorderRequest', x);
                    });

                    // Information sender
                    $('body').on('click', '.information_sender', function() {
                        var p = document.getElementById("player-form");
                        var player = undefined;
                        for (var i = 0; i < p.length ;i++) {
                            if (p.elements[i].checked) {
                                player = p.elements[i].value;
                            }
                        }
                        var x = document.getElementById("info-form");
                        var info = undefined;
                        for (var i = 0; i < x.length ;i++) {
                            if (x.elements[i].checked) {
                                info = x.elements[i].value;
                            }
                        }
                        if (player && info) {
                            socket.emit('infoRequest', {player: player, info: info});
                        }
                    });

                    $('body').on('click', '.rotate-left', function() {
                        var id = Number ($(this).data('index'));
                        socket.emit('rotateRequest', {id: id, angle: 90});
                    });

                    $('body').on('click', '.rotate-right', function() {
                        var id = Number ($(this).data('index'));
                        socket.emit('rotateRequest', {id: id, angle: -90});
                    });

                    $('body').on('click', '.previous-turn', function() {
                        socket.emit('previousTurn');
                    });

                    $('body').on('click', '.previous-event', function() {
                        socket.emit('previousEvent');
                    });

                    $('body').on('click', '.next-event', function() {
                        socket.emit('nextEvent');
                    });

                    $('body').on('click', '.next-turn', function() {
                        socket.emit('nextTurn');
                    });

                });

            });

        </script>

    </body>
</html>
