<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Online Hanabi</title>
        <style>

            .card-buttons{
                visibility: hidden;
                width: 100%;
                padding: 0 20px;
            }

            .card:hover .card-buttons{
                visibility: visible;
            }

        </style>
    </head>

    <body>
        <h1>Online Hanabi</h1>

        <table>
            <tr>
                <% for (var i = 1; i<6; i++) { %>
                    <td class="card">
                        <img src="/img/tree.png" id="mycard<%= i %>" style="border:3px solid black; margin:0px 5px; padding:5px;">
                        <br>
                        <table class="card-buttons">
                            <tr>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="play" href="#"><img src="/img/play.svg" style="height:20px;"></a></td>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="discard" href="#"><img src="/img/discard.svg" style="height:20px;"></a></td>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-left" href="#"><img src="/img/rotate-left.svg" style="height:20px;"></a></td>
                                <td style="text-align:center;"><a data-index="<%= i %>" class="rotate-right" href="#"><img src="/img/rotate-right.svg" style="height:20px;"></a></td>
                            </tr>
                        </table>
                    </td>
                <% }; %>
            </tr>
        </table>

        <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('http://localhost:3333');

            var card_angles = [null, 0,0,0,0,0];

            $('body').on('click', '.play', function() {
                console.log("Want to play n°", $(this).data('index'));
            });

            $('body').on('click', '.discard', function() {
                console.log("Want to discard n°", $(this).data('index'));
            });

            $('body').on('click', '.rotate-left', function() {
                var id = Number ($(this).data('index'));
                card_angles[id] = (card_angles[id] - 90)%360;
                console.log("Rotate-left n°", id," of ",card_angles[id]," degrees");
                document.getElementById('mycard'+id).style.transform="rotate(" + card_angles[id] + "deg)"; //default
                document.getElementById('mycard'+id).style["-webkit-transform"]="rotate(" + card_angles[id] + "deg)"; //Chrome, Safari, Opera
                document.getElementById('mycard'+id).style["-ms-transform"]="rotate(" + card_angles[id] + "deg)"; //IE
            });

            $('body').on('click', '.rotate-right', function() {
                var id = Number ($(this).data('index'));
                card_angles[id] = (card_angles[id] + 90)%360;
                console.log("Rotate-right n°", id," of ",card_angles[id]," degrees");
                document.getElementById('mycard'+id).style.transform="rotate(" + card_angles[id] + "deg)"; //default
                document.getElementById('mycard'+id).style["-webkit-transform"]="rotate(" + card_angles[id] + "deg)"; //Chrome, Safari, Opera
                document.getElementById('mycard'+id).style["-ms-transform"]="rotate(" + card_angles[id] + "deg)"; //IE
            });

            /*
            var pseudo = prompt('Quel est votre pseudo ?');
            socket.emit('nouveau_client', pseudo);
            document.title = pseudo + ' - ' + document.title;
            */

            socket.on('init', function (data) {

                function add(todo, pseudo, id) {
                    $('#list').append('<li id="todo' + id + '"><a class="delete" href="#" data-index="' + id + '">✘</a> ' + todo + ' (' + pseudo + ')' + '</li>');
                }

                function remove(id) {
                    $('#todo'+id).remove();
                }

                //supérieur à toute les id pour éviter tout conflit
                var next_index = data.index;

                //on trace le tableau existant à l'initialisation
                for (var i = 0; i < data.todolist.length; i++) {
                    add(data.todolist[i].todo, data.todolist[i].pseudo, data.todolist[i].id)
                }

                //reception d'un ajout par un tiers
                socket.on('add', function(data) {
                    add(data.todo, data.pseudo, data.id);
                    next_index ++;
                });

                //réception d'une suppression par un tiers
                socket.on('remove', function (id) {
                    remove(id);
                });

                //au clic sur le bouton ajouter
                $('#add').submit(function () {
                    var newtodo = $('#newtodo').val();
                    socket.emit('add', {todo: newtodo, id: next_index});
                    add(newtodo, 'me', next_index);
                    next_index ++;
                    $('#newtodo').val('').focus();
                    return false;
                });

                //au clic sur une croix
                $('body').on('click', '.delete', function() {
                    remove($(this).data('index'));
                    socket.emit('remove', $(this).data('index'));
                })

            });

        </script>

    </body>
</html>
